__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
env/

.git/
.gitignore

mlruns/
mlartifacts/
models/

data/raw/live/
data/processed/
data/feature_store/

reports/

airflow/logs/
airflow/airflow.db

.ipynb_checkpoints/
.vscode/
.idea/