pandas==2.1.4
numpy==1.26.4
scikit-learn==1.5.1
pyarrow==16.1.0

fastapi==0.115.0
uvicorn==0.30.6
streamlit==1.39.0

mlflow==2.16.2

feedparser==6.0.11
beautifulsoup4==4.12.3
requests==2.32.3

apache-airflow==2.9.3

joblib==1.4.2

python-dotenv==1.0.1
evidently
pytest==8.3.3

torch
transformers
accelerate